
data_handling/data_raw/qualtrics_experiment_2.csv
data_handling/data_raw/prolific_experiment_2.csv
data_handling/data_raw/qualtrics_experiment_2_temp.csv
data_handling/data_raw/qualtrics_experiment_2_single_header.csv
data_handling/data_raw/qualtrics_experiment_1.csv
data_handling/data_raw/prolific_experiment_1.csv
data_handling/data_raw/qualtrics_experiment_1_single_header.csv
data_handling/scripts/latex_table_pre_post.txt
data_handling/scripts/latex_table_pre_post.py
data_handling/scripts/latex_table.txt
data_handling/scripts/latex_table.py
data_handling/plots/ai/human_values.pdf
data_handling/plots/ai/human_values.ai
data_handling/plots/ai/demographics_religiosity.pdf
data_handling/plots/ai/demographics_religiosity.ai
data_handling/plots/ai/demographics_leftright.pdf
data_handling/plots/ai/demographics_leftright.ai
data_handling/plots/ai/demographics_income.ai
data_handling/plots/ai/demographics_income.pdf
data_handling/plots/ai/demographics_gender.pdf
data_handling/plots/ai/demographics_gender.ai
data_handling/plots/ai/demographics_education.pdf
data_handling/plots/ai/demographics_education.ai
data_handling/plots/ai/demographics_age.pdf
data_handling/plots/ai/demographics_age.ai
data_handling/scripts/.Rhistory
data_handling/data_processed/~$key_column_names.xlsx
data_handling/plots/ai/immigration_perceived_threat.pdf
data_handling/plots/ai/immigration_opposition.pdf
data_handling/plots/ai/immigration_opposition.ai
data_handling/plots/ai/immigration_perceived_threat.ai
